// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 40px;
$body-font-family: 'Roboto', sans-serif !default;
$navbar-height: 56px;
$navbar-card-top: 61px;

$navigation-drawer-border-width: 0px;